@{
    ViewBag.Title = "Index";
}


<h1>Productos</h1>

<div id="search-product"></div>

<!-- Div exclusivo para la tabla -->
<div id="table-product"></div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Product/Product.js"></script>


