@{
    ViewBag.Title = "Index";
}


<h1>Productos</h1>

<!--Div para el buscador-->
<div id="search-product"></div>

<!--Div para el combobox de marca-->
<label>Marcas</label>
<div class="input-group mb-3">
    <select class="form-control" id="selectBrand"></select>
    <button class="btn btn-outline-secondary" type="button" onclick="searchByBrand()">Buscar</button>
</div>

<!--Div para el combobox de marca-->
<label>Categorias</label>
<div class="input-group mb-3">
    <select class="form-control" id="selectCategory" onchange="searchByCategory()"></select>
    <button class="btn btn-outline-secondary" type="button" >Buscar</button>
</div>

<!-- Div exclusivo para la tabla -->
<div id="table-product"></div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Product/Product.js"></script>


