@{
    ViewBag.Title = "Listado de camas";
}

<h2>Listado de camas</h2>


<!-- Div exclusivo para el formulario de camas -->
<div id="form-container"></div>

<!-- Div exclusivo para el buscador de camas -->
<div id="search-bed"></div>

<!-- Div exclusivo para la tabla de camas -->
<div id="table-bed"></div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Bed/Bed.js"></script>
