@{
	ViewBag.title = "Index";
}

<h2>Listado de camas</h2>

<div class="input-group mb-3">
  
  <input type="text" id="txtBed" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  <button class="btn btn-outline-secondary" type="button" id="btnBed" onclick="Search()">Buscar</button>
</div>

<div id="table-bed"></div>


<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Bed/Bed.js"></script>
