@{
    ViewBag.Title = "Index";
}


<h1>Marcas</h1>

<div id="search-brand"></div>

<!-- Div exclusivo para la tabla -->
<div id="table-brand"></div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Brand/Brand.js"></script>