@{
    ViewBag.Title = "Index";
}



<h1>Personas</h1>

<!--Div para el buscador-->
<div id="search-person"></div>

<!--Div para el combobox de marca-->
<div class="input-group mb-3">
    <select class="form-control" id="selectUserType" onchange="searchByUserType()"></select>
    <button class="btn btn-outline-secondary" type="button" onclick="searchByUserType()">Buscar</button>
</div>

<!-- Div exclusivo para la tabla -->
<div id="table-person"></div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Person/Person.js"></script>


