@{
    ViewBag.Title = "Index";
}



<h1>Personas</h1>

<!--Formulario-->

<fieldset class="container mb-4" style="border: 1px solid black;">
  <legend style="font-size: 14px;">Datos de la persona</legend>

  <form id="formPerson" method="post" enctype="multipart/form-data">
    <div class="row">
      <!-- Columna izquierda -->
      <div class="col-md-6">
        <!-- Id -->
        <div class="mb-3">
          <label for="formId" class="form-label">Id</label>
          <input type="number" class="form-control" id="formId" name="id" value="0" readonly>
        </div>

         <!-- 1er Apellido -->
        <div class="mb-3">
          <label for="formLastName" class="form-label">1er Apellido</label>
          <input type="text" class="form-control" id="formLastName" name="last_name" required maxlength="20">
        </div>
        
       

        <!-- Tipo de usuario -->
        <div class="mb-3">
          <label for="selectUserType" class="form-label">Tipo de usuario</label>
          <select class="form-control" id="selectUserType" name="iduserType">
            <option value="">Seleccione</option>
            <!-- Opciones dinámicas -->
          </select>
        </div>

        

         <!-- Imagen -->
        <div class="mb-3">
          <label for="photoInput" class="form-label">Foto</label>
          <img id="previewImage" src="#" alt="Vista previa" width="100" height="100" class="d-block mb-2" style="display: none;">
          <input type="file" class="form-control" id="photoInput" name="photoFile" accept="image/*">
        </div>

        <!-- Imagen 
        <div class="mb-3">
          <label for="photoFile">Foto</label>
          <img width="100" height="100" />
            <input type="file" name="photoFile"/>
        </div>-->
        
      </div>

      <!-- Columna derecha -->
      <div class="col-md-6">

          <!-- Nombre -->
        <div class="mb-3">
          <label for="formName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="formName" name="name" required maxlength="20">
        </div>

         <!-- 2do Apellido -->
        <div class="mb-3">
          <label for="formSecondLastName" class="form-label">2do Apellido</label>
          <input type="text" class="form-control" id="formSecondLastName" name="second_last_name" required maxlength="20">
        </div>
       

        <!-- Teléfono -->
        <div class="mb-3">
          <label for="formPhone" class="form-label">Teléfono</label>
          <input type="number" class="form-control" id="formPhone" name="phone">
        </div>

        <!-- Sexo -->
        <div class="mb-3">
          <label class="form-label">Sexo</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="idSex" id="RadioMale" value="1">
            <label class="form-check-label" for="RadioMale">Masculino</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="idSex" id="RadioFemale" value="2">
            <label class="form-check-label" for="RadioFemale">Femenino</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Botones -->
    <div class="mb-3 mt-3">
      <button type="button" class="btn btn-primary" onclick="SaveData()">Aceptar</button>
      <button type="button" class="btn btn-danger" onclick="Clear()">Limpiar</button>
    </div>
  </form>
</fieldset>


<!--Div para el buscador-->
<div id="search-person"></div>

<!--Div para el combobox de marca-->
<div class="input-group mb-3">
    <select class="form-control" id="selectUserType" onchange="searchByUserType()"></select>
    <button class="btn btn-outline-secondary" type="button" onclick="searchByUserType()">Buscar</button>
</div>

<!-- Div exclusivo para la tabla -->
<div id="table-person"></div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/Person/Person.js"></script>


