@{
    ViewBag.Title = "Index";
}

<h2>Tipo de habitación</h2>

<!-- Div exclusivo para el buscador -->
<div id="search-roomtype"></div>

<!-- Div exclusivo para la tabla -->
<div id="table-roomtype"></div>

<script src="~/Scripts/generic.js"></script>
<script src="~/Scripts/RoomType/RoomType.js"></script>
